body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.banner-container {
  width: 100%;
  height: 669px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.414)),
    url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  padding: 150px;
  text-align: center;
  color: #ffffff;
}
.banner-content h1 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}
.donate-btn {
  background-color: #ff5959;
  text-decoration: none;
  color: #ffffff;
  width: 160px;
  height: 60px;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
}
.text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 28px;
}
.donation-wrapper {
  text-align: center;
  margin-top: 100px;
}
.donation{
  width 100%;
}
.black-title{
  font-weight: 700;
  font-size: 45px;
  color: #121212;
}
.color-gray{
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  line-height: 28px
}
.amount-selection{
  display: flex;
  justify-content: center;
}
.amount-selection h3{
    width: 135px;
    text-align: center;
    font-size: 30px;
    padding: 60px 20px;
    margin: 15px;
    border-radius: 5px;
    background-color: #fafafa;
    color: #707070;
}
#default-selection{
    width: 135px;
    border: 3px solid #ff5959;
    background-color: #ffeeee;
}
.donation-text-input{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 65%;
    padding: 10px 0;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-color: #dadada;
    outline: none;
    text-indent: 40.5%;
    font-size: 18px;
}
.donation-text-input::placeholder{
    font-size: 18px;
    color: #b3b3b3;
}
.plan-card{
    display: flex;
    justify-content: center;
    margin: 50px 150px;
}
.card{
    width: 25%;
    padding: 60px 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 200px;
}
.card h3{
    font-size: 26px;
    padding: 20px 0px;
}
.card p{
    font-size: 20px;
    text-align: left;
    line-height: 35px;
    color: #707070;
    
}
#food{
    background-color: rgba(79, 157, 166, 0.1);
}
#shelter{
    background-color: rgba(255, 89, 89, 0.1);
}
#education{
    background-color:rgba(255, 244, 214, 1);

}
.staff-section{
  margin: 0 auto;
  text-align: left;
 
  width: 80%;
}

.flexible-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}
.box-shadow{
   
    border: 10px;
    margin: 20px;
    box-shadow: 8px 8px 16px rgb(17, 16, 16);
    border-radius: 5px;
}

.box-shadow h3{
  font-size: 1.4em;
   padding-left: 35px;
}
.box-shadow h5{
  font-size: 15px;
   padding-left: 40px;
   margin-top: -5px;
}

.newsletter-title{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#form-container{
    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
    background-color:rgba(255, 244, 214, 1);
    text-align: center;
    padding: 85px;
}
.email-address{
    border: none;
    outline: none;
    font-size: 18px;
    width: 38%;
    padding: 15px;
    border-radius: 7px 0px 0px 7px;
    background-color: #d9d9d9;
}
.email-address::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #aa9f9f;
}
.subscribe-btn{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #ff5959;
    border-radius: 0px 7px 7px 0px;
    padding: 14px 40px;
}
.newsletter-container{
  margin-top: -100px;
}
footer{
    margin-top: 100px;
    background-color: #0b0d17;
}
.footer{
    margin: 0 auto;
    width: 100%;    
    height: 210px;
    text-align: center;
}
.footer h3{
    color: #ff5959;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 40px;
    padding-top: 53px;
}
.footer p{
    color: #d9dbe1;
    font-size: 17px;
    padding-bottom: 25px;
}
